.todo {
  display: flex;
  align-items: baseline;
  gap: 8px 16px;
  flex-wrap: wrap;
  margin: 16px;
}

.todo__task {
  flex: 1 1 0;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  padding: 4px 8px;
  margin: 0;
  min-width: 200px;
  max-width: 400px;
}

.todo__task--text {
  border-color: transparent;
}

.todo__menu {
  margin: 0;
  display: flex;
  gap: 1rem;
}

.todo__button {
  box-sizing: content-box;
  width: 6ch;
  cursor: pointer;
}
